.con{
    justify-content: center;
    align-items: center;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid black ;
}
.brandinfo{
    justify-content: center;
    align-items: center;
    height:auto;
    display: flex;
    flex-direction: row;
    border: solid;
    flex-wrap:nowrap;
}
.brandinfo div{
    padding: 20px;
}
.brand_image{
    width: 34%;
}
.branddata{ 
    width: 66%;
    font-size:large;
}
@media only screen and(max-width:600px) {
    .branddata{
        padding: 5px;
        font-size: small;
    }
    
}